
<app-nav></app-nav>

<main class="cs-page-wrapper">
      <!-- Breadcrumb -->
      <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
          <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
              <a [routerLink]="['/']"><i class="cxi-home"></i></a>
            </li>

            <li class="breadcrumb-item">
              <a *ngIf="proveedor.categoria" [routerLink]="['/proveedores/categoria/',proveedor.categoria.toLowerCase()]" routerLinkActive="router-link-active">{{proveedor.categoria}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{proveedor.nombres}}</li>
          </ol>
        </div>
      </nav>

        <!-- Page title -->
      <section class="container d-md-flex align-items-center justify-content-between py-3 py-md-4 mb-3">
        <h1 class="mb-2 mb-md-0">{{proveedor.nombres}}</h1>
        <span class="text-muted" *ngIf="proveedor._id"><strong>Prov. ID:</strong> {{proveedor._id.toUpperCase()}}</span>
      </section>

      <!-- Single product -->
      <section class="container mb-1">
        <div class="row">
          <div class="col-md-6 mb-md-0 mb-3">

            <!-- Product gallery -->
            <div class="cs-carousel cs-gallery cs-product-gallery mx-auto" style="max-width: 1000px; width: 630px; ">
              <div class="cs-carousel-inner" data-carousel-options=''>

                <!-- Product gallery item -->
                <a class="cs-gallery-item" *ngFor="let item of proveedor.galeria; let indice = index" href="{{url + 'obtener_portada/' + item.imagen}}" data-sub-html='<h6 class="text-light">Imagen</h6>'>
                  <img class="rounded" [src]="url + 'obtener_portada/' + item.imagen" alt="Carousel image">
                  <span class="cs-gallery-caption">Imagen #{{indice+1}}</span>
                </a>

              </div>

              <!-- Product gallery thumbnails -->
              <div class="cs-thumbnails" id="cs-thumbnails">
                <button type="button" *ngFor="let item of proveedor.galeria; let indice = index" [attr.data-nav]="indice">
                  <img [src]="url + 'obtener_portada/' + item.imagen" alt="Thumbnail">
                </button>

              </div>
            </div>
          </div>
          <div class="col-md-6 pl-xl-5">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">

              <!-- Price -->
              <div class="d-flex align-items-center ">
                <span class="h5 d-inline-block mb-0 text-success">Contacto Principal: </span>
                <span class=" ml-2 pl-1 font-size-lg">{{proveedor.contacto}}</span>
                <!-- <span class="ml-4 p-2 badge badge-danger font-size-base font-weight-bold">- 50%</span> -->
              </div>

              <!-- Rating -->
              <div class="text-sm-right">
                <div class="star-rating ml-auto">
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=1}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=2}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=3}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=4}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=5}"></i>
                </div>
                <span class="font-size-sm text-muted">{{reviews.length}} reseñas</span>
              </div>
            </div>

            <!-- Ordering form -->
            <form class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="h3 d-inline-block mb-3 text-danger" >Descripción del Proveedor</label>
                  <div class="d-flex align-items-middle">
                    <!-- <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline mr-2 mb-2">
                      <input class="custom-control-input" type="radio" name="color" id="pink" value="Pink" data-label="colorOptionText" checked>
                      <label class="cs-custom-option-label" for="pink">
                        <span class="cs-color-swatch" style="background-color: #e0aea2;"></span>
                      </label>
                    </div>
                    <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline mr-2 mb-2">
                      <input class="custom-control-input" type="radio" name="color" id="blue" value="Blue" data-label="colorOptionText">
                      <label class="cs-custom-option-label" for="blue">
                        <span class="cs-color-swatch" style="background-color: #c0dded;"></span>
                      </label>
                    </div>
                    <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline mr-2 mb-2">
                      <input class="custom-control-input" type="radio" name="color" id="yellow" value="Yellow" data-label="colorOptionText">
                      <label class="cs-custom-option-label" for="yellow">
                        <span class="cs-color-swatch" style="background-color: #fede41;"></span>
                      </label>
                    </div> -->
                    <span class="d-inline-block pl-2 text-dark" id="colorOptionText" class="h6 d-inline-block mb-1 text-primary">{{proveedor.descripcion}}</span>
                  </div>
                </div>           
                
              </div>

              
              
              <div class="col-sm-8 order-sm-1 order-2">
                <!-- <div class="form-group">
                  <label for="size">Size</label>
                  <select class="form-control custom-select" id="size">
                    <option>Please select</option>
                    <option>Option item 1</option>
                    <option>Option item 2</option>
                    <option>Option item 3</option>
                  </select>
                </div> -->

              </div>

              <!-- <div class="col-sm-4 order-sm-2 order-1 text-sm-right">
                <a href="#modal-sizing" data-toggle="modal" class="d-inline-block mt-sm-4 mb-sm-0 mb-4 pt-sm-3 font-weight-bold text-decoration-0 text-dark">
                  <i class="cxi-hanger mr-2"></i>
                  Size chart
                </a>
              </div> -->
              <!-- <div class="col-lg-2 col-4 order-lg-3 order-3">
                <div class="form-group">
                  <select class="form-control custom-select" id="select-input">
                    <option>1</option>
                    <option>2</option>
                    <option>5</option>
                    <option>10</option>
                  </select>
                </div>
              </div> -->

              <!-- <div class="col-lg-6 order-lg-4 order-4">
                <button class="btn btn-block btn-primary">
                  <i class="cxi-cart mr-2"></i>
                  Add to cart
                </button>
              </div> -->


              <!-- <div class="col-lg-4 col-8 order-lg-5 order-2">
                <button class="btn btn-block btn-outline-primary px-lg-4">
                  <i class="cxi-heart mr-2"></i>
                  Favourite
                </button>
              </div> -->
            </form>


            <!-- Share -->
            <div class="mb-5 text-nowrap">
              <!-- <h6 class="d-inline-block align-middle mr-2 mb-0">Compartir:</h6>
              <a  class="social-btn sb-solid align-middle mr-2" data-toggle="tooltip" title="Facebook">
                <i class="cxi-facebook"></i>
              </a>
              <a  class="social-btn sb-solid align-middle mr-2" data-toggle="tooltip" title="Twitter">
                <i class="cxi-twitter"></i>
              </a>
              <a  class="social-btn sb-solid align-middle" data-toggle="tooltip" title="Pinterest">
                <i class="cxi-pinterest"></i>
              </a> -->
            </div>

            <!-- Payment -->
            <!-- <div class="pb-3 text-nowrap" data-simplebar data-simplebar-auto-hide="false">
              <a href="#" class="d-inline-block mb-3 mr-xl-4 mr-3">
                <img src="../../assets/img/ecommerce/shop/single/cards/visa.jpg" alt="Visa" class="border rounded">
              </a>
              <a href="#" class="d-inline-block mb-3 mr-xl-4 mr-3">
                <img src="../../assets/img/ecommerce/shop/single/cards/master-card.jpg" alt="Mastercard" class="border rounded">
              </a>
              <a href="#" class="d-inline-block mb-3">
                <img src="../../assets/img/ecommerce/shop/single/cards/pay-pal.jpg" alt="PayPal" class="border rounded">
              </a>
            </div> -->
          </div>
        </div>
      </section>


      <div class="py-5" style="background-color: #e5e8ed;">
        <section  class="container my-lg-2 py-2 py-md-4" >
          <div class="row">
            <div class="col-lg-7 col-md-8 mb-md-0 mb-4" [innerHTML]="proveedor.contenido">
             
            </div>
            <div class="col-md-4 offset-lg-1">
  
              <!-- Product card carousel -->
              <div class="card card-product">
                <div class="card-product-img">
                  <div class="cs-carousel cs-controls-onhover">
                    <a >
                      <div>
                        <img [src]="url + 'obtener_portada/' + proveedor.portada" alt="Product image">
                      </div>
                    </a>
                  </div>
                  <div class="card-product-widgets-top">
                    <div class="ml-auto star-rating">
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=1}"></i>
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=2}"></i>
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=3}"></i>
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=4}"></i>
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=5}"></i>
                    </div>
                  </div>
                  <div class="card-product-widgets-bottom">
                    <!-- <a class="btn-wishlist ml-auto" href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a> -->
                  </div>
                </div>
                <div class="card-body pb-2" style="background-color: white;">
                  <h3 class="card-product-title text-truncate mb-2">
                    <a  class="nav-link">{{proveedor.nombres}}</a>
                  </h3>
                  <div class="d-flex align-items-center mb-3">
                    <span class="h5 d-inline-block text-danger mb-0">{{proveedor.categoria}}</span>
                    <!-- <del class="d-inline-block ml-2 pl-1 text-muted">$31.00</del> -->
                  </div>
                  <div class="d-flex align-items-center mb-3 pb-1">
                    <div class="mt-n20">
                      <div class=" custom-control-inline">
                        <input  class="custom-control-input" name="size-01" id="l-100" checked>
                        <label for="l-100" class="cs-custom-option-label">Contacto: </label>
                      </div>
                      <div class=" custom-control-inline">
                        <input  class="custom-control-input" name="size-01" id="m-1">
                        <label for="m-1" class="cs-custom-option-label">{{proveedor.contacto}}</label>
                      </div>
                    </div>

                    <!-- <div class="ml-auto">
                      <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline">
                        <input type="radio" class="custom-control-input" name="color-01" id="beige-1" value="Beige" checked>
                        <label for="beige-1" class="cs-custom-option-label">
                          <span class="cs-color-swatch" style="background-color: #dead9c;"></span>
                        </label>
                      </div>
                      <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline">
                        <input type="radio" class="custom-control-input" name="color-01" id="blue-1" value="Blue">
                        <label for="blue-1" class="cs-custom-option-label">
                          <span class="cs-color-swatch" style="background-color: #7998d1;"></span>
                        </label>
                      </div>
                      <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline">
                        <input type="radio" class="custom-control-input" name="color-01" id="white-1" value="White">
                        <label for="white-1" class="cs-custom-option-label">
                          <span class="cs-color-swatch" style="background-color: #f4f4f4;"></span>
                        </label>
                      </div>
                    </div> -->

                    <!-- se podria utilizar para agregar a favoritos -->
                    
                  </div>
                  <!-- <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 1rem;">
                    <i class="cxi-cart align-middle mt-n1 mr-2"></i>
                    Add to cart
                  </button> -->
                </div>
                <div class="card-footer">
                  
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>


      <section class="container py-md-6 py-5 mb-2">
        <div class="row">
          <div class="col-lg-7 col-md-8 mb-md-0 mb-5">
            <div class="row mb-sm-5 mb-4 pb-2 pb-md-4">

              <!-- Rating -->
              <div class="col-sm-5 mb-sm-0 mb-4">
                <h3 class="h2 mb-3 pb-1">{{reviews.length}} reseñas totales</h3>
                <div class="star-rating mb-3 pb-1">
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=1}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=2}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=3}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=4}"></i>
                  <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=5}"></i>
                </div>
                <span class="font-size-sm text-muted">
                 Satisfacción:  {{porcent_raiting}}% <br>
                </span>
              </div>

              <!-- Reviews -->
              <div class="col-sm-7">

                <!-- 5 stars -->
                <div class="d-flex align-items-center mb-2">
                  <div class="text-nowrap text-muted mr-3">
                    <span class="d-inline-block align-middle">5</span>
                    <i class="cxi-star font-size-sm align-middle ml-1"></i>
                  </div>
                  <div class="w-100">
                    <div class="progress" style="height: 4px;">
                      <div class="progress-bar bg-success" role="progressbar" [ngStyle]="{'width': cinco_porcent+'%'}" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <span class="text-muted ml-3">{{count_five_star}}</span>
                </div>

                <!-- 4 stars -->
                <div class="d-flex align-items-center mb-2">
                  <div class="text-nowrap text-muted mr-3">
                    <span class="d-inline-block align-middle">4</span>
                    <i class="cxi-star font-size-sm align-middle ml-1"></i>
                  </div>
                  <div class="w-100">
                    <div class="progress" style="height: 4px;">
                      <div class="progress-bar bg-info" role="progressbar" [ngStyle]="{'width': cuatro_porcent+'%'}" aria-valuenow="27" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <span class="text-muted ml-3">{{count_four_star}}</span>
                </div>

                <!-- 3 stars -->
                <div class="d-flex align-items-center mb-2">
                  <div class="text-nowrap text-muted mr-3">
                    <span class="d-inline-block align-middle">3</span>
                    <i class="cxi-star font-size-sm align-middle ml-1"></i>
                  </div>
                  <div class="w-100">
                    <div class="progress" style="height: 4px;">
                      <div class="progress-bar bg-warning" role="progressbar" [ngStyle]="{'width': tres_porcent+'%'}" aria-valuenow="17" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <span class="text-muted ml-3">{{count_three_star}}</span>
                </div>

                <!-- 2 stars -->
                <div class="d-flex align-items-center mb-2">
                  <div class="text-nowrap text-muted mr-3">
                    <span class="d-inline-block align-middle">2</span>
                    <i class="cxi-star font-size-sm align-middle ml-1"></i>
                  </div>
                  <div class="w-100">
                    <div class="progress" style="height: 4px;">
                      <div class="progress-bar bg-danger" role="progressbar" [ngStyle]="{'width': dos_porcent+'%'}" aria-valuenow="9" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <span class="text-muted ml-3">{{count_two_star}}</span>
                </div>

                <!-- 1 star -->
                <div class="d-flex align-items-center">
                  <div class="text-nowrap text-muted mr-3">
                    <span class="d-inline-block align-middle">1</span>
                    <i class="cxi-star font-size-sm align-middle ml-1"></i>
                  </div>
                  <div class="w-100">
                    <div class="progress" style="height: 4px;">
                      <div class="progress-bar bg-primary" role="progressbar" [ngStyle]="{'width': uno_porcent+'%'}" aria-valuenow="4" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                  <span class="text-muted ml-3">{{count_one_star}}</span>
                </div>
              </div>
            </div>

            <!-- Button + sorting -->
            <div class="d-flex align-items-center justify-content-between mb-4 pb-2 pb-sm-4">
              <a *ngIf="token"(click)="openModal(proveedor)" data-toggle="modal" [attr.data-target]="'#review-'+proveedor._id" class="btn btn-primary">Emitir Reseña</a>

              <!-- modal -->

              <div class="modal fade" id="review-{{proveedor._id}}" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Emitir reseña</h4>
                      <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-sm-12 form-group">
                            <label for="ac-fn">Reseña</label>
                            <textarea required class="form-control" placeholder="¿Qué te pareció el servicio prestado?" name="review" [(ngModel)]="review.review" rows="3"></textarea>
                        </div>
                      </div>
                      <!-- <star-rating value={{totalstar}} size="45px"  checkedcolor="gold" uncheckedcolor="gray" totalstars={{totalstar}}
                      (rate)="onRate($event)"></star-rating> -->

                      <div class="form-inline">
                        <label for="sort-orders" class="d-none d-sm-block font-weight-bold mr-2 pr-1">Puntuación: </label>
                        <select id="sort-orders" class="custom-select" name="totalstar" [(ngModel)]="totalstar">
                          <option>5</option>
                          <option>4</option>
                          <option>3</option>
                          <option>2</option>
                          <option>1</option>
                        </select>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button class="btn btn-secondary btn-sm" type="button" data-dismiss="modal">Cerrar</button>
                      <button class="btn btn-primary btn-shadow btn-sm" type="button" (click)="emitir(proveedor._id)" >Enviar</button>
                      <!--  -->
                    </div>
                  </div>
                </div>
              </div>

              <!-- <div class="form-inline">
                <label for="sort-orders" class="d-none d-sm-block font-weight-bold mr-2 pr-1">Sort by</label>
                <select id="sort-orders" class="custom-select">
                  <option>Newest</option>
                  <option>Oldest</option>
                  <option>High rating</option>
                  <option>Low rating</option>
                </select>
              </div> -->
            </div>

            <!-- Review -->
            <ng-container *ngIf="reviews.length >= 1">
              <div class="mb-4 pb-4 border-bottom" *ngFor="let item of reviews | slice: (page-1)*pageSize : (page-1) * pageSize + pageSize">
                <div class="row">
                  <div class="col-md-3 col-sm-4 mb-sm-0 mb-3">
                    <h3 class="mb-2 font-size-lg">{{item.cliente.nombres}} {{item.cliente.apellidos}}</h3>
                    <span class="d-block mb-3 font-size-sm text-muted">{{item.createdAt|date}}</span>
                    <div class="mt-n1 star-rating">
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >=1}"></i>
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >=2}"></i>
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >=3}"></i>
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >=4}"></i>
                      <i class="sr-star cxi-star-filled" [ngClass]="{'active': item.estrellas >=5}"></i>
                    </div>
                  </div>
                  <div class="col">
                    <p class="mb-3">
                      <a class="mr-1 font-weight-bold text-decoration-none" href="#">@{{item.cliente.email}}</a>
                      <br>
                      {{item.review}}
                    </p>
               
                  </div>
                </div>
              </div>
            </ng-container>
            <ng-container *ngIf="reviews.length == 0">
              <div class="row">
                <div class="col-12 text-center">
                  <h5>Este proveedor aún no tiene reseñas</h5>
                </div>
              </div>
            </ng-container>
            


            <!-- Pagination: With icons -->
            <ngb-pagination
            [(page)]="page"
            [pageSize]="pageSize"
            [collectionSize]="reviews.length"
          ></ngb-pagination>
          </div>
          <div class="col-md-4 offset-lg-1">

            <!-- Product card carousel -->
            <div class="card card-product">
              <div class="card-product-img">
                <div class="cs-carousel cs-controls-onhover">
                  <a >
                    <div>
                      <img class="card-img-top" [src]="url + 'obtener_portada/' + proveedor.portada" alt="Product image">
                    </div>
                   
                  </a>
                </div>
                <div class="card-product-widgets-top">
                  <div class="ml-auto star-rating">
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=1}"></i>
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=2}"></i>
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=3}"></i>
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=4}"></i>
                    <i class="sr-star cxi-star-filled" [ngClass]="{'active': puntos_raiting >=5}"></i>
                  </div>
                </div>
                <div class="card-product-widgets-bottom">
                  <!-- <a class="btn-wishlist ml-auto" href="#" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a> -->
                </div>
              </div>
              <div class="card-body pb-2" style="background-color: white;">
                <h3 class="card-product-title text-truncate mb-2">
                  <a class="nav-link">{{proveedor.nombres}}</a>
                </h3>
                <div class="d-flex align-items-center mb-3">
                  <span class="h5 d-inline-block text-danger mb-0">{{proveedor.categoria}}</span>
                  <!-- <del class="d-inline-block ml-2 pl-1 text-muted">$31.00</del> -->
                </div>
                <div class="d-flex align-items-center mb-3 pb-1">
                  <div class="mt-n20">
                    <div class=" custom-control-inline">
                      <input  class="custom-control-input" name="size-01" id="l-100" checked>
                      <label for="l-100" class="cs-custom-option-label">Contacto: </label>
                    </div>
                    <div class=" custom-control-inline">
                      <input  class="custom-control-input" name="size-01" id="m-1">
                      <label for="m-1" class="cs-custom-option-label">{{proveedor.contacto}}</label>
                    </div>
                  </div>
                  <!-- <div class="ml-auto">
                    <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline">
                      <input type="radio" class="custom-control-input" name="color-01" id="beige-1" value="Beige" checked>
                      <label for="beige-1" class="cs-custom-option-label">
                        <span class="cs-color-swatch" style="background-color: #dead9c;"></span>
                      </label>
                    </div>
                    <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline">
                      <input type="radio" class="custom-control-input" name="color-01" id="blue-1" value="Blue">
                      <label for="blue-1" class="cs-custom-option-label">
                        <span class="cs-color-swatch" style="background-color: #7998d1;"></span>
                      </label>
                    </div>
                    <div class="custom-control cs-custom-color-option cs-custom-color-option-sm custom-control-inline">
                      <input type="radio" class="custom-control-input" name="color-01" id="white-1" value="White">
                      <label for="white-1" class="cs-custom-option-label">
                        <span class="cs-color-swatch" style="background-color: #f4f4f4;"></span>
                      </label>
                    </div>
                  </div> -->
                </div>


                <!-- se podria utilizar para agregar a favoritos -->

                <!-- <button type="button" class="btn btn-primary btn-block" style="margin-bottom: 1rem;">
                  <i class="cxi-cart align-middle mt-n1 mr-2"></i>
                  Add to cart
                </button> -->

              </div>
              <div class="card-footer">
                
              </div>
            </div>
          </div>
        </div>
      </section>




      <section class="py-5" style="background-color: #e5e8ed;">
        <div class="container my-lg-2 py-2 py-md-4">
          <div class="d-flex align-items-center justify-content-between pb-sm-1 mb-5">
            <h2 class="h1 pr-3 mb-0">Quizá te interese estos proveedores</h2>
            <div class="tns-custom-controls cs-controls-inverse" id="custom-controls-related" tabindex="0">
              <button type="button" data-controls="prev" tabindex="-1">
                <i class="cxi-arrow-left"></i>
              </button>
              <button type="button" data-controls="next" tabindex="-1">
                <i class="cxi-arrow-right"></i>
              </button>
            </div>
          </div>
          <div class="cs-carousel pb-2">
            <div class="cs-carousel-inner-two" data-carousel-options=''>

              <!-- Item -->
              <div *ngFor="let item of proveedores_rec">
                <div class="card card-product mx-auto">
                  <div class="card-product-img">
                    <a [routerLink]="['/proveedores/',item.slug]" target="_blank" class="card-img-top">
                      <img [src]="url + 'obtener_portada/' + item.portada" alt="Product image">
                    </a>
                    <div class="card-product-widgets-bottom">
                      <!-- <a href="#" target="_blank" class="btn-wishlist ml-auto" data-toggle="tooltip" data-placement="left" title="Add to wishlist"></a> -->
                    </div>
                  </div>
                  <div class="card-body bg-0 pb-2">
                    <h3 class="card-product-title text-truncate mb-2">
                      <a [routerLink]="['/proveedores/',item.slug]" target="_blank" class="nav-link">{{item.nombres}}</a>
                    </h3>
                    <div class="d-flex align-items-center">
                      <span class="h5 d-inline-block mb-0">{{item.categoria}}</span>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </section>
     

</main>

<app-footer></app-footer>